<!DOCTYPE html>
<html>

<head>
    <title>Ahorcado</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body><div class="container">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <div></div>

    <div class="body_master">
        <div class="header">
            <h1 class="hola">
<div class="wrapper-grid">
  <div class="cube">
    <div class="face face-front">A</div>
    <div class="face face-back"></div>
    <div class="face face-right"></div>
    <div class="face face-left"></div>
    <div class="face face-top"></div>
    <div class="face face-bottom"></div>
  </div>

  <div class="cube">
    <div class="face face-front">H</div>
    <div class="face face-back"></div>
    <div class="face face-right"></div>
    <div class="face face-left"></div>
    <div class="face face-top"></div>
    <div class="face face-bottom"></div>
  </div>

  <div class="cube">
    <div class="face face-front">O</div>
    <div class="face face-back"></div>
    <div class="face face-right"></div>
    <div class="face face-left"></div>
    <div class="face face-top"></div>
    <div class="face face-bottom"></div>
  </div>

  <div class="cube">
    <div class="face face-front">R</div>
    <div class="face face-back"></div>
    <div class="face face-right"></div>
    <div class="face face-left"></div>
    <div class="face face-top"></div>
    <div class="face face-bottom"></div>
  </div>

  <div class="cube">
    <div class="face face-front">C</div>
    <div class="face face-back"></div>
    <div class="face face-right"></div>
    <div class="face face-left"></div>
    <div class="face face-top"></div>
    <div class="face face-bottom"></div>
  </div>

  <div class="cube">
    <div class="face face-front">A</div>
    <div class="face face-back"></div>
    <div class="face face-right"></div>
    <div class="face face-left"></div>
    <div class="face face-top"></div>
    <div class="face face-bottom"></div>
  </div>

  <div class="cube">
    <div class="face face-front">2</div>
    <div class="face face-back"></div>
    <div class="face face-right"></div>
    <div class="face face-left"></div>
    <div class="face face-top"></div>
    <div class="face face-bottom"></div>
  </div>
  
 
</div>
</h1>

<!--MODAL -->
<div class="modal" style="display: {{ mostrar_modal }}">
    <div class="modal_contenido">
        <p>{{ mensaje }}</p>
        <a href="/">Jugar de nuevo</a>
    </div>
</div>
            <div class="loader"></div>
        </div>
        <div class="Cuerpo_juego">
            <div class="box_palabras">
                
                <p>Palabra: <strong>{{ oculta }}</strong></p>
                <p>Intentos restantes: <strong>{{ intentos }}</strong></p>
                <div style="display: flex; gap: 10px;">
                
                <p>Letras usadas: </p> 
                
                
                <p class="error_letra">
                    {% if letras_usadas  %}
                    {% for l in letras_usadas %}
                    <strong>{{ l }}</strong>
                    {% endfor %}
                    {% else %}
                    ninguna todavía
                    {% endif %}
                </p>
               
                </div>
                <p>{{ mensaje }}</p>
            </div>
            {% if not terminado %}
            <form id="miForm" method="post" action="/">
                <input id="input_clean" class="input_style" name="letra" maxlength="1" placeholder="Ingresá una letra" required
                    autofocus />
                
            </form>
            {% endif %}

            <br>
            <a class="nueva_partida" href="/"><span>Nueva partida</span></a>
        </div>
    </div>
    {% if DEBUG %}
    
    <script>
        let lastModified = null;
        setInterval(async () => {
            const res = await fetch("/static/style.css", { cache: "no-store" });
            const modified = res.headers.get("last-modified");
            if (lastModified && modified !== lastModified) {
                location.reload();
            }
            lastModified = modified;
        }, 1000);
    </script>
    <script>
    document.getElementById("miForm").addEventListener("submit", async function(e) {
        e.preventDefault();  

        const formData = new FormData(this);
        const res = await fetch("/", { method: "POST", body: formData });
        const html = await res.text();

        const doc = new DOMParser().parseFromString(html, "text/html");
        document.querySelector(".box_palabras").innerHTML = doc.querySelector(".box_palabras").innerHTML;
        document.querySelector(".modal").style.display = doc.querySelector(".modal").style.display;
        document.getElementById("input_clean").value= ""
        document.getElementById("input_letra").value = "";
        document.getElementById("input_letra").focus();
    });
</script>
    {% endif %}
    </div>
</body>
<footer > 
    <div class="footer2"><a href="">© 2026 por Franco Burgoa.Todos los derechos reservados</a>
    </div>
</footer>

</html>